.app{
    background-color:rgb(105, 115, 247);
}

.app--fadeBottom{
    height:7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(96, 79, 245, 0.61),
        rgb(12, 8, 245)

    );
}