.row{
color: blanchedalmond;
margin-left: 20px;

}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
    padding-bottom: 0;
    /* for mozilla scroll-bar hidding ::-webkit-scrollbar doesn't work*/
    -ms-overflow-style: none;
    scrollbar-width: none;
   
}
.row_posters::-webkit-scrollbar {display:none;}


.row_poster{
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
  
    transition: transform 450ms;
        
}
.row_poster:hover {
transform: scale(1.10);
opacity: 1;
}

.row_posterLarge{
max-height: 250px;

}
.row_posterLarge:hover {
    transform: scale(1.10);
    opacity: 1;
    }
    
.movie_details{
color:floralwhite;
    display: flex;
    opacity: 30%;
    font-size: small;
    
    transition: transform 400ms;
    padding-top: 10px;
    flex-wrap: wrap;
}
.group:hover > div{
    transform: scale(1.08);
    opacity:100% ;

}
